#addOrder {
    background-color: #21ff0d;
    font-size: 1.5em;
}

.orderForm {
    border:1px solid #000000;
    box-shadow:0 0 10px rgba(0,0,0,0.5);
    padding-top: 0.5em;
}

.orderList {
    border-radius: 5px;
    background-color: #B0B0B0;
    margin: 0.5em;
    padding:0.5em 0;
}

@media (max-width: 1170px ) {

    #addOrder {
        font-size: 2em;
    }


}